<template>
  <div id="app">
    <div class="page-route-loading" v-if="$store.state.routeChangeLoading"></div>
    <left-sidebar v-if="$store.state.logginStatus"></left-sidebar>
    <full-width v-else></full-width>
    
  </div>
</template>

<script>
import FullWidth from './layout/FullWidth'
import LeftSideBar from './layout/LeftSideBar'
export default {
  name: 'App',
  components: {
    'full-width': FullWidth,
    'left-sidebar': LeftSideBar
  },
  created(){
    if (JSON.parse(localStorage.getItem('user-details')) == null) {
      this.$store.commit('userAuthStatus', false); 
      this.$store.commit('userDetails', {});  
    } else {
      this.$store.commit('userAuthStatus', true);
      this.$store.commit('userDetails', JSON.parse(localStorage.getItem('user-details')));
    }
  }
}
</script>

<style>
@import './assets/css/style.css';
</style>