<template>
  <div class="create-api">
    <div class="container-fluid p-0">
      <h1 class="h3 mb-3">
        Create Api
        <router-link to="/generate-api/documentation">Documentation</router-link>
      </h1>
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Please a valid domain to create API</h5>
            </div>
            <div class="card-body">

              <b-notification type="is-success" v-if="successStatus">
                  API generated successfully! 
              </b-notification>
              <b-notification type="is-danger" v-if="errorStatus">
                  <span v-if="errorStatusCode == 402">please upgrade plan for more apis! <router-link to="/pricing">Go to pricing</router-link></span>
                  <span v-else>Something went wrong!</span>
              </b-notification>
              
              <form @submit.prevent="createApi">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" ref="name" name="website name" v-validate="'required'" v-model="apiForm.name" placeholder="Your website title">
                      </div>
                      <small v-show="errors.has('website name')" class="help is-danger">{{ errors.first('website name') }}</small>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled v-model="apiForm.email"  placeholder="Your email address">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-0">
                      <div class="input-group">
                        <input type="text" class="form-control" ref="url" name="website url" v-validate="{url: {require_protocol: true }}" v-model="apiForm.url" placeholder="Website URL">
                      </div>
                      <small v-show="errors.has('website url')" class="help is-danger">{{ errors.first('website url') }}</small>
                    </div>
                  </div>
                  
                  <div class="w-100"></div>
                  <div class="col-md">
                    <button type="submit" class="btn btn-primary mt-2" v-if="submitStatus">Generate API</button>
                    <button type="submit" class="btn btn-primary mt-2 disabled" v-else>Generate API</button>
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">API details</h5>
            </div>
            <div class="card-body" :class="{ 'blur' : !apiDetails}" v-if="apiDetails">
              <div v-for="(api, index) in apiData" :key="index">
                <div class="form-group">
                  <label class="form-label">API key</label>
                  <div class="input-group">
                    <input type="text" class="form-control" :id="'api'+ api._id" readonly v-model="api._id">
                    <span class="input-group-append">
                      <button class="btn btn-primary" type="button" @click="makeApiCopy(api._id, 'K')">
                        <svg class="svg-inline--fa fa-copy fa-w-14 align-middle mr-2 fa-fw" aria-hidden="true" data-prefix="fas" data-icon="copy" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"></path></svg>
                        Copy
                      </button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">API secret</label>
                  <div class="input-group">
                    <input type="text" class="form-control" :id="'api'+ api.secret" readonly v-model="api.secret">
                    <span class="input-group-append">
                      <button class="btn btn-primary" type="button"  @click="makeApiCopy(api.secret, 'S')">
                        <svg class="svg-inline--fa fa-copy fa-w-14 align-middle mr-2 fa-fw" aria-hidden="true" data-prefix="fas" data-icon="copy" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"></path></svg>
                        Copy
                      </button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Registered Website:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" disabled placeholder="" v-model="api.website">
                    <span class="input-group-append">
                      <button class="btn btn-danger" type="button" @click="deleteApi(api._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 align-middle mr-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                        Delete API
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body" v-else>
              <h5>There is no generated API</h5>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import {HTTP} from '../../http-common';
import { Toast } from 'buefy/dist/components/toast'
export default {
  name: 'CreateApi',
  data () {
    return {
      apiDetails: false,
      apiData: [],
      apiForm: {
        name: '',
        email: '',
        url: ''
      },
      submitStatus: true,
      successStatus: false,
      errorStatus: false,
      errorStatusCode: ''
    }
  },
  components:{
    Toast
  },
  created(){
    this.apiForm.email = this.$store.state.publicUserDetails.email;
    // get the single user
    this.getUserDetails(this.apiForm.email);
  },
  mounted(){
  },
  methods: {
    trunc(val, n){
      return (val.length > n) ? val.substr(0, n-1) + ' ...' : val;
    },
    makeApiCopy($id, type) {
      var id = `api${$id}`
      var copyText = document.getElementById(id);
      copyText.select();
      document.execCommand("copy");
      if(type == 'K'){
        Toast.open({
          message: `Copied API Key: ${copyText.value}`,
          actionText: '',
          position: 'is-bottom',
          type: 'is-info'
        })
      } 
      if(type == 'S'){
        Toast.open({
          message: `Copied API Secret: ${this.trunc(copyText.value, 25)}`,
          actionText: '',
          position: 'is-bottom',
          type: 'is-info'
        })
      } 
    },
    getUserDetails($email){
      let that = this;
      HTTP.get(`/user/${$email}?apis=true`)
        .then(function (response) {
            if(response.status == 200){
              // console.log(response)
              if(response.data.data.apis.length > 0){
                that.apiDetails = true;
                that.apiData = response.data.data.apis;
              } else {
                that.apiDetails = false;
              }
            }
        })
        .catch(function (error) {
            if (error.response) {
              console.log(error.response.data);
              console.log(error.response.status);
            }
        });
    },
    deleteApi($id){
      let that = this;
      if(confirm('Are you sure you want to delete this API?')){
        HTTP.delete(`/api/${$id}`)
            .then(function (response) {
              if(response.status == 200){
                // get the single user
                that.getUserDetails(that.apiForm.email);
              }
            })
            .catch(function (error) {
              // console.log(error.response);
              // console.log(error.response.status);
            });
      }
    },
    createApi(){
      this.submitStatus = false;
      let that = this;
      this.$validator.validate().then(valid => {
        if(valid){
          HTTP.post(`/api`, {'website': this.apiForm.url})
              .then(function (response) {
                  // console.log(response);
                  if(response.status == 200){
                      // alert("Login successfully!");
                      that.successStatus = true;
                      // get the single user
                      that.getUserDetails(that.apiForm.email);
                      setTimeout(()=>{
                          that.successStatus = false;
                          that.submitStatus = true;
                      }, 3000);
                  }
              })
              .catch(function (error) {
                  if (error.response) {
                      // console.log(error.response.data);
                      // console.log(error.response.status);
                      // console.log(error.response.headers);
                      that.errorStatusCode = error.response.status;
                      that.submitStatus = true;
                      that.errorStatus = true;
                      setTimeout(()=>{
                          that.errorStatus = false;
                      }, 2000);
                  }
              });
        }
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 a{
  float: right; 
  font-size: 14px; 
  font-weight: 400; 
  display: inline-block; 
  margin: 10px 0;
}
</style>