<template>
  <div class="live-Chat">
    <div class="container-fluid p-0">
      <h1 class="h3 mb-3">
        Live Chat
      </h1>

      <hr>
      
      <!-- <p v-if="isConnected">We're connected to the server!</p> -->
      <!-- <p>Message from server: "{{socketMessage}}"</p>
      <button @click="triggerJoined(loggedInData.email, loggedInData.fullName)">Ping Server</button> -->

      <button @click="soketConnect()">Connect</button>
      <button @click="soketDisConnect()">Disconnect</button>

      <hr>


      <div class="row">

        <div class="col-md-12">
              
            <div class="row">

                <div class="col-md-4 col-xl-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Visitor</h5>
                            <span class="edit-prop">
                              {{selectedDomain.website}}
                              <a href="javascript:void(0);" @click="isComponentModalActive = true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit align-middle mr-2"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                              </a>
                            </span>
                        </div>
                        <div class="card-body text-left contact-panel" v-bar>
                            <ul>
                              <li class="active">
                                <p>sometext@mail.com</p>
                                <small>Lorem ipsum is dummy text. This is used for design purpose</small>
                              </li>
                              <li>
                                <p>test@mail.com</p>
                                <small>Hello world!</small>
                              </li>
                              <li>
                                <p>Unknown</p>
                                <small>Lorem ipsum is dummy text.</small>
                              </li>
                              <li>
                                <p>sometext@mail.com</p>
                                <small>Lorem ipsum is dummy text. This is used for design purpose</small>
                              </li>
                              <li>
                                <p>test@mail.com</p>
                                <small>Hello world!</small>
                              </li>
                              <li>
                                <p>Unknown</p>
                                <small>Lorem ipsum is dummy text.</small>
                              </li>
                              <li>
                                <p>sometext@mail.com</p>
                                <small>Lorem ipsum is dummy text. This is used for design purpose</small>
                              </li>
                              <li>
                                <p>test@mail.com</p>
                                <small>Hello world!</small>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Chat Box</h5>
                        </div>
                        <div class="card-body chat-panel" v-bar>
                        

                          <div class="chat-area">

                            <div class="chat-item chat-user">
                              <div>
                                <p>Hello! How are you!?</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>
                            <div class="chat-item chat-person">
                              <div>
                                <p>Hi!<br>
                                  I'm fine, and you?</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>
                            <div class="chat-item chat-user">
                              <div>
                                <p>I'm good</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>
                            <div class="chat-item chat-user">
                              <div>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>
                            <div class="chat-item chat-person">
                              <div>
                                <p>Hi!<br>
                                  I'm fine, and you?</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>
                            <div class="chat-item chat-user">
                              <div>
                                <p>I'm good</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>
                            <div class="chat-item chat-user">
                              <div>
                                <p>Hello! How are you!?</p>
                                <small>24.03.2019 / 7.05AM</small>
                              </div>
                            </div>

                          </div>

                          <div class="chat-inp-wrap">
                            <button class="btn btn-primary">
                              <svg class="svg-inline--fa fa-paper-plane fa-w-16 align-middle mr-2 fa-fw" aria-hidden="true" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"></path></svg>
                            </button>

                            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="1"></textarea>
                          </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>

      </div>
    </div>


    <b-modal :active.sync="isComponentModalActive" :width="500">
      <div class="property-listing-popup">
        <header>
          <h4>All Property</h4>
          <small><em>*Select diffrent property to chat</em></small>
        </header>
        <div class="prop-body">
          <a href="javascript:void(0);" 
            :class="{'active': domain._id == selectedDomain._id}" 
            v-for="(domain, index) in domainList" 
            :key="domain._id"
            @click="selectDomain(domain._id)">
              {{domain.website}}
          </a>
        </div>
      </div>
    </b-modal>


  </div>
</template>

<script>
import {HTTP} from '../../http-common';
export default {
  name: 'LiveChat',
  data () {
    return {
      isComponentModalActive: false,
      isConnected: false,
      socketMessage: '',
      domainList: [],
      selectedDomain: {},
      loggedInData: {},
      gettingMessageData: []
    }
  },
  // sokets functions
  sockets: {
    connect() {
      // Fired when the socket connects.
      this.isConnected = true;
    },
    disconnect() {
      this.isConnected = false;
    },
    // this is loggedin chanle
    loggedIn(data) {
      // console.log(data);
      // this.socketMessage = data;
      if(data.message.type == "success"){
        this.loggedInData = data.data;
      }
    },
    // this is joined chanle
    joined(data){
      // console.log(data);
      if(data.message.type == "success"){
        this.gettingMessageData = data.data;
      }
    }
  },
  // counted hook
  mounted(){
      let that = this;
      // get the domain lists
      HTTP.get(`/user/${this.$store.state.publicUserDetails.email}?apis=true`)
        .then(function (response) {
            if(response.status == 200){
              // get the domain list
              that.domainList = response.data.data.apis;
              // that.$router.push({ query: { site: that.domainList._id }});
              // console.log(that.$route, that.domainList[0]._id)
              // that.$router.push({ query: Object.assign({}, that.$route.query, { site: that.domainList[0]._id }) });
              // console.log(that.$route.query)
              // setting the routing
              if(Object.keys(that.$route.query).length === 0){
                that.$router.push({ query: Object.assign({}, that.$route.query, { site: that.domainList[0]._id }) });
              } else {
                // nothing to do
              }
              // filtering from the main domain list
              that.domainList.filter((el, i) => {
                if(el._id == that.$route.query.site){
                  that.selectedDomain = el;
                }
              });
              
              // soket start
              setTimeout(()=>{
                // that.$socket.disconnect();
                // that.$socket.connect();
                // make user loggedin
                that.triggerLoggedIn();
                // make user join the room
                that.triggerJoined(that.$route.query.site);
              }, 100);
            }
        })
        .catch(function (error) {
            if (error.response) {
              console.log(error.response.data);
              console.log(error.response.status);
            }
        });
  },
  // detroy hook
  destroyed(){
    // this.$socket.disconnect();
  },
  methods: {
    // change domain from modal
    selectDomain(domainId){
      this.$router.push({ query: Object.assign({}, this.$route.query, { site: domainId }) });
      window.location.reload();
    },
    // making loggedin function trigger
    triggerLoggedIn() {
      var mainData ={
        "data": {},
        "auth": {
            authorization: this.$store.state.publicUserDetails.token
        }
      }
      // Send the "pingServer" event to the server.
      this.$socket.emit('login', mainData)
    },
    // making the joined function trigger
    triggerJoined(api) {
      var mainData ={
        "data": {
          api
        },
        "auth": {
            authorization: this.$store.state.publicUserDetails.token
        }
      }
      // Send the "pingServer" event to the server.
      this.$socket.emit('join', mainData)
    },
    // socket connect
    soketConnect(){
      this.$socket.connect();
    },
    // soket diconnect
    soketDisConnect(){
      this.$socket.disconnect();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>